asgiref==3.8.1
certifi==2024.12.14
cffi==1.17.1
charset-normalizer==3.4.1
cryptography==44.0.0
Django==5.1.4
django-allauth==65.3.1
django-anymail==13.0.1
django-jazzmin==3.0.1
dotenv==0.9.9
gunicorn==23.0.0
idna==3.10
packaging==25.0
pycparser==2.22
PyJWT==2.10.1
python-decouple==3.8
python-dotenv==1.1.1
requests==2.32.3
shortuuid==1.0.13
sqlparse==0.5.3
stripe==11.6.0
typing_extensions==4.12.2
tzdata==2025.2
urllib3==2.3.0
waitress==3.0.2
whitenoise==6.9.0
